<mat-card class="whoWeAre">
  <mat-card-title>
    <h1>Who we are?</h1>
  </mat-card-title>
  <div class="parallax-image"></div>
  <mat-card-content>
    <p>
      The Consultation Center of the Roman Catholic Diocese of Albany is a mental health center which provides therapeutic services within a Christian environment, respecting the unity of body, mind and spirit.
      The Center offers individual and couples counseling, a variety of personal growth groups, spiritual direction, and lectures and workshops in the area of mental health and personal growth.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="howManyOfUs">
  <mat-card-title>
    <h1>How many of us?</h1>
  </mat-card-title>
  <mat-card-content>
    <p>
        More than 100 000 thousand clients cooperated with us. Thanks to us, they were able to determine future professions, who they were to be, as well as some found possible solutions for themselves from business and hobbies.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="whyShouldYouChooseUs">
  <mat-card-title>
    <h1>Why should you choose us?</h1>
  </mat-card-title>
  <mat-card-content>
    <p>
        Because we have highly qualified employees, and just good people, consultations only on business and in essence, but what about the price, so to say, “do not bite”
    </p>
  </mat-card-content>
</mat-card>
