footer{
  display: flex;
  padding: 3%;
  justify-content: space-between;
  height: 25vh;

  span{
    div{
      ul{

        margin-top: 5%;

        list-style: none;

        li{
          width: 100%;
          font-size: .8em;
          margin: 1%;
        }
      }
    }
  }
}
