<mat-tab-group>
    <mat-tab label="Monday">
      <app-record-list></app-record-list>
    </mat-tab>
    <mat-tab label="Tuesday"> 
      <app-record-list></app-record-list>
    </mat-tab>
    <mat-tab label="Wednesday">
      <app-record-list></app-record-list>
    </mat-tab>
    <mat-tab label="Thursday">
      <app-record-list></app-record-list>
    </mat-tab>
    <mat-tab label="Friday">
      <app-record-list></app-record-list>
    </mat-tab>
    <mat-tab label="Saturday">
      <app-record-list></app-record-list>
    </mat-tab>
    <mat-tab label="Sunday">
      <app-record-list></app-record-list>
    </mat-tab>
</mat-tab-group>
  