<div>

  <mat-form-field>
    <input matInput placeholder="Fullname">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nickname">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Address">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone number">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Age">
  </mat-form-field>

  <button mat-button mat-dialog-close (click)="login()">Login</button>

  <button mat-button mat-dialog-close >Cancel</button>

</div>
