div.profile {
  display: flex;

  img {
    margin: auto;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    object-fit: cover;
  }

  img:hover {
    cursor: pointer;
  }

  img:active {
    outline: none;
  }

  img:focus {
    outline: none;
  }
}

div {
  display: flex;

  justify-content: space-between;

  height: 100%;

  button {
    font-size: 0.8em;
  }
}
