mat-grid-list.month{
    mat-grid-tile{
        cursor: pointer;
        div{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            h5{
                position: relative;
                margin: 0;
            }
        }
    }

    mat-grid-tile:hover{
        background-color: rgba($color: #000000, $alpha: 0.3);
    }
}

mat-grid-list.month mat-grid-til{
    cursor: pointer;
}

mat-grid-list.month mat-grid-til  div{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

mat-grid-list.month mat-grid-til div h5{
    position: relative;
    margin: 0;
}

mat-grid-list.month mat-grid-tile:hover{
    background-color: rgba($color: #000000, $alpha: 0.3);
}