<mat-card class="record">
  <mat-card-title>Linus Torvalds</mat-card-title>
  <mat-card-subtitle>Time 12:12:10</mat-card-subtitle>
  <mat-card-header>
      <img mat-card-avatar src="assets/images/Linus_Torvald.jpeg">
      <mat-card-title>Linux consultation</mat-card-title>
      <mat-card-subtitle>Are you interested in Linux but need some help?</mat-card-subtitle>
  </mat-card-header>
  <img class="big" mat-card-image src="assets/images/Linus_Torvald.jpeg">
  <mat-card-content>
      Is a Finnish–American software engineer who is the creator, and historically, the principal developer of the Linux kernel, which became the kernel for
       many Linux distributions and operating systems such as Android and Chrome OS.
       He also created the distributed version control system Git and the diving logging and planning software Subsurface.
  </mat-card-content>
</mat-card>