<mat-card [@bounceInLeft] class="personal-area" *ngIf="user">
  <mat-card-header>
    <mat-card-title>{{ user.user.fullName }}</mat-card-title>
    <mat-card-subtitle>{{ user.user.nickName }}</mat-card-subtitle>
  </mat-card-header>
  <div>
    <img [src]="getPath(user)" alt="" />
    <mat-card-content>
      <p>Role: {{ showRoles() }}</p>
      <p>Age: {{ user.user.age }}</p>
    </mat-card-content>

    <div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> This is the expansion title </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> This is the expansion title </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> This is the expansion title </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </div>
  </div>
</mat-card>
