<mat-card [@bounceInLeft] class="personal-area" *ngIf="user">
  <mat-card-header>
    <mat-card-title>{{ user.user.fullName }}</mat-card-title>
    <mat-card-subtitle>{{ user.user.nickName }}</mat-card-subtitle>
  </mat-card-header>
  <div>
    <img [src]="getPath(user)" alt="" />
    <mat-card-content>
      <p>Role: {{ showRoles() }}</p>
      <p>Age: {{ user.user.age }}</p>
    </mat-card-content>

    <div *ngIf="dataSource.length !== 0">
      <h3>Consultations for last 7 days</h3>
      <mat-expansion-panel *ngFor="let c of dataSource">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ c.data.title }} </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>Specialization: </b>{{ c.data.specialization.name }}</p>
        <p><b>FullName: </b>{{ c.data.employee.fullName }}</p>
        <p><b>Date: </b>{{ c.getDate() }}</p>
      </mat-expansion-panel>
    </div>
    <div *ngIf="dataSource.length === 0">
      <h3>You consultation list for last 7 days is empty</h3>
    </div>
  </div>
</mat-card>
