<mat-tab-group>
  <mat-tab label="January"> 
    <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="February">
      <app-month [days]="leap()"></app-month>
  </mat-tab>
  <mat-tab label="March">
      <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="April">
    <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="May">
    <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="June">
    <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="July">
    <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="August">
    <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="September">
    <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="October">
    <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="November">
    <app-month [days]="days"></app-month>
  </mat-tab>
  <mat-tab label="December">
    <app-month [days]="days"></app-month>
  </mat-tab>
</mat-tab-group>