.full-width-table {
  width: 100%;
}

.width-80-percent {
  width: 80%;
  margin: auto;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  button {
    margin: 2%;
  }
}

div.height-60-percent {
  min-height: 65vh;
}
